<div class="d-flex justify-content-center align-items-center main">
  <div class="image"></div>
  <div class="divider"></div>
  <div class="intro">
    <h5>Brian Simiyu</h5>
    <h1>A Software Developer.</h1>
    <h1>Stacy, will you spend the night with me?</h1>
  </div>
</div>

<div class="d-flex justify-content-center align-items-center summary">
  <h3>
    Hi, I'm a developer based in Nairobi, Kenya.<br>
    I build Scallable Apps for the Web and Mobile platforms.
  </h3>
</div>

<div class="d-flex justify-content-center align-items-center social">
  <button type="button" mat-button (click)="toLinkedIn()">LinkedIn</button>
  <button type="button" mat-button (click)="toGithub()">Github</button>
  <button type="button" mat-button (click)="toTwitter()">Twitter</button>
</div>

<div class="d-flex  flex-nowrap justify-content-center align-items-center skills">
  <table class="table table-borderless langs">
    <tbody>
      <tr>
        <td class="align-middle"><label>Javascript / Typescript</label></td>
        <td class="align-middle"><mat-slider value="100"  color="primary"></mat-slider></td>
      </tr>
      <tr>
        <td class="align-middle"><label>Markup and Styling Languages</label></td>
        <td class="align-middle"><mat-slider value="100"  color="primary"></mat-slider></td>
      </tr>
      <tr>
        <td class="align-middle"><label>Dart</label></td>
        <td class="align-middle"><mat-slider value="50" color="primary"></mat-slider></td>
      </tr>
      <tr>
        <td class="align-middle"><label>Python</label></td>
        <td class="align-middle"><mat-slider value="50" color="primary"></mat-slider></td>
      </tr>
      <tr>
        <td class="align-middle"><label>Java</label></td>
        <td class="align-middle"><mat-slider value="25" color="primary"></mat-slider></td>
      </tr>
    </tbody>
  </table>
  <table class="table table-borderless frameworks">
    <tbody>
      <tr>
        <td class="align-middle"><label>Angular</label></td>
        <td class="align-middle"><mat-slider value="100"  color="accent"></mat-slider></td>
      </tr>
      <tr>
        <td class="align-middle"><label> React and React Native</label></td>
        <td class="align-middle"><mat-slider value="75" color="accent"></mat-slider></td>
      </tr>
      <tr>
        <td class="align-middle"><label>NodeJS / ExpessJS</label></td>
        <td class="align-middle"><mat-slider value="100"  color="accent"></mat-slider></td>
      </tr>
      <tr>
        <td class="align-middle"><label>Flutter</label></td>
        <td class="align-middle"><mat-slider value="50" color="accent"></mat-slider></td>
      </tr>
      <tr>
        <td class="align-middle"><label>Firebase</label></td>
        <td class="align-middle"><mat-slider value="75" color="accent"></mat-slider></td>
      </tr>
      <tr>
        <td class="align-middle"><label>Python (Flask, Tensorflow)</label></td>
        <td class="align-middle"><mat-slider value="50" color="accent"></mat-slider></td>
      </tr>
    </tbody>
  </table>
  <table class="table table-borderless automation">
    <tbody>
      <tr>
        <td class="align-middle"><label>CI/CD</label></td>
        <td class="align-middle"><mat-slider value="50" color="warn"></mat-slider></td>
      </tr>
      <tr>
        <td class="align-middle"><label>Kubernetes</label></td>
        <td class="align-middle"><mat-slider value="25" color="warn"></mat-slider></td>
      </tr>
      <tr>
        <td class="align-middle"><label>Docker</label></td>
        <td class="align-middle"><mat-slider value="25" color="warn"></mat-slider></td>
      </tr>
      <tr>
        <td class="align-middle"><label>DevOps</label></td>
        <td class="align-middle"><mat-slider value="75" color="warn"></mat-slider></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container-fluid mt-4 mb-4 footer-container">
  <div class="row-12 d-flex justify-content-center footer-row">
    <mat-card>
      <mat-card-title style="text-align: center;">bwsimiyu</mat-card-title>
      <mat-card-subtitle>
        <a href="mailto:briansimiyu@icloud.com">
          <span class="material-icons">email</span>
          &nbsp;
          <span class="link">briansimiyu@icloud.com</span>
        </a>
      </mat-card-subtitle>
      <mat-card-subtitle>
        <a href="tel:+254701085174">
          <span class="material-icons">phone</span>
          &nbsp;
          <span class="link">+254 701 085 174</span>
          &nbsp;
        </a>
      </mat-card-subtitle>
    </mat-card>
  </div>
</div>
